<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="field form-group row">
    <% form.label :first_name %>
    <%= form.text_field :first_name, id: :friends_first_name, class:"form_control",placeholder:"First Name"%>
  </div>
  
  <div class="field form-group row">
    <%= form.text_field :last_name, id: :friends_last_name, class:"form_control ",placeholder:"Last Name" %>
  </div>
  
  <div class="field form-group row">
    <%= form.text_field :email, id: :friends_email, class:"form_control ",placeholder:"name@example.com"%>
  </div>
  
  <div class="field form-group row">
    <%= form.text_field :phone, id: :friends_phone, class:"form_control ",placeholder:"Phone Number"%>
  </div>

  <div class="field form-group row">
    <%= form.text_field :instagram, id: :friends_instagram, class:"form_control ",placeholder:"Instagram"%>
  </div>
  <div class="field form-group row">
    <%= form.number_field :user_id, id: :friends_user_id, class:"form_control ",value:current_user.id,type: :hidden %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
</form>
<% end %>
